@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Roboto:wght@300;400;500&display=swap');


.page-section{
    max-width: 1440px;
    width: 100%;
}

/* Header-section */

.logo{
    margin-top: 21px;
    width: 112px;
    height: 66px;
    margin-left: 121px;
}
.obsh{
    display: flex;
    margin-left: 121px;
}
.tmenu{
    font-family: 'Roboto', sans-serif;
    margin-top: 73px; 
    margin-bottom: 10px;
    display: flex;
    font-size: 20px;
    font-weight: 400px;
}

.onet{
    font-size: 20px;
    margin-left: 8px;
    margin-right: 40px;
}

.twot{
    margin-left: 9px;
    margin-right: 47px;
}

.threet{
    margin-left: 12px;
}

.film {
    font-size: 80px;
    font-weight: 700;
    margin: 0;
    margin-top: -7px;
    line-height: 81.11px;
}

.niz{
    margin-top: 32px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 30px;

}

.chel{
    margin-top: 130px;
    margin-left: 150px;
    width: 304px;
    height: 356px;
}
.visitka{
    background-color: #1E4681;
    color: white;
    height: 200px;
    width: 486px;
    text-align: start;
    left: 630px;
    top: 670px;
    border: 5px;
    border-radius: 5px;
    transform:  rotate(-4deg);
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 32,5;
    text-align: left;
    box-sizing: border-box;
    padding-left: 30px;
    padding-top: 17px;
    margin-left: 358px;
    margin-top: 49px;
}
.endi{
    padding-right: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    text-align: right;
    font-size: 20px;
    margin: 0;
}
.nach{
    margin: 0;
}

/* /Header-section */

/* about-course-section */
.container-sct2{
    display: block;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}
.aboux {
    font-family: 'Roboto Slab',sans-serif ;
    font-size: 55px;
    font-weight: 700;
    margin-top: 91px;
    margin-left: 122px;

}
.text-camera {
    display: flex;
}

.text-a {
    margin-right: 190px;
    /* width: 662px;
    height: 374px; */
    line-height: 150%;
    display: block;
    margin-left: 124px;
    font-size: 24px;
    font-weight: 400;
}


/* /about-course-section */
