@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Roboto:wght@300;400;500&display=swap');


.page-section{
    max-width: 1440px;
    width: 100%;
}
body{
    margin: 0;
}

/* Header-section */
.header-section{
    margin-bottom: 162px;
}
.logo{
    margin-top: 21px;
    width: 112px;
    height: 66px;
    margin-left: 121px;
}
.obsh{
    display: flex;
    margin-left: 121px;
}
.tmenu{
    font-family: 'Roboto', sans-serif;
    margin-top: 73px; 
    margin-bottom: 10px;
    display: flex;
    font-size: 20px;
    font-weight: 400px;
}

.onet{
    font-size: 20px;
    margin-left: 8px;
    margin-right: 40px;
}

.twot{
    margin-left: 9px;
    margin-right: 47px;
}

.threet{
    margin-left: 12px;
}

.film {
    font-size: 80px;
    font-weight: 700;
    margin: 0;
    margin-top: -7px;
    line-height: 81.11px;
}

.niz{
    margin-top: 32px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 30px;

}

.amenu{
    margin-right: 103px;
}

.chel{
    margin-right: 246px;
    margin-top: 130px;
    margin-left: 150px;
    width: 304px;
    height: 356px;
}
.visitka{
    background-color: #1E4681;
    color: white;
    height: 200px;
    width: 486px;
    text-align: start;
    left: 630px;
    top: 670px;
    border: 5px;
    border-radius: 5px;
    transform:  rotate(-4deg);
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 32,5;
    text-align: left;
    box-sizing: border-box;
    padding-left: 30px;
    padding-top: 17px;
    margin-left: 403px;
    margin-top: 49px;
}
.endi{
    padding-right: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    text-align: right;
    font-size: 20px;
    margin: 0;
}
.nach{
    margin: 0;
}

/* /Header-section */

/* about-course-section */
.about-course-section{
    margin-bottom: 162px;
}
.container-sct2{
    width: 100%;
    display: block;
    font-family: 'Roboto', sans-serif;
}
.aboux {
    font-family: 'Roboto Slab',sans-serif ;
    font-size: 55px;
    font-weight: 700;
    margin-top: 91px;
    margin-left: 121px;

}
.text-camera {
    display: flex;
}

.text-a {
    font-family: 'Roboto Slab',sans-serif ;
    line-height: 150%;
    display: block;
    margin-left: 121px;
    margin-right: 32px;
    font-size: 24px;
    font-weight: 400;

}
.camera1{
    margin-top: 60px;
    margin-left: 195px;
}
.block-sub{
    display: flex;
    left: 472px;
    top: 719px;
}
.camera2{
    margin-right: 132px;
    margin-left: 121px;
    margin-top: 70px;
}

.item1 {
    margin-top: 110px;
    margin-right: 104px;
    display: inline-block;
    width: 150px;
    height: 90px;  
}
.item2 {
    margin-top: 110px;
    margin-right: 104px;
    display: inline-block;
    width: 150px;
    height: 90px;
   
}
.item3 {
    margin-right: 104px;
    margin-top: 110px;
    display: inline-block;
    width: 150px;
    height: 90px;
 
}
.title {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;

}

.subtitle{
    margin-top: 20px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}


/* /about-course-section */


/* format-section   */

.format-section{
    margin-bottom: 162px;
}
.format {
    font-family: 'Roboto Slab', sans-serif ;
    font-size: 55px;
    font-weight: 700;
    margin-left: 121px;
    
}

.block-format {
    max-width: 1440px;
    display: flex;
    font-family: Roboto, sans-serif;
    color: #000000;
}

.access {
    display: inline-block;
}
.webinars {
    font-weight: bold;
    font-size: 25px;
    color: #1E4681;
    position: relative;
    margin-left: 124px;
    margin-top: 52px;
    margin-bottom: 5px;
}
.communication {
    font-size: 18px;
    margin-left: 122px;
    line-height: 130%;
}
/* /format-section   */

/* what-to-know-section */
.head-wtks{
    display: flex;
}
.what-learn {
    font-family: 'Roboto Slab', sans-serif ;
    font-size: 55px;
    font-weight: 700;
    margin-left: 121px;
    margin-right: 407px;
}
.fencers{
    margin-top: -28px;
}
.block-format2{
    display: flex;
    font-family: Roboto, sans-serif;
    color: #000000;
}
.learn-list {
    font-size: 24px;;
    width: 662px;
    height: 374px;
    margin-left: 112px;
    line-height: 150%;
}
.dragon{
    margin-top: 137px;
    margin-left: 50px;
}
/* /what-to-know-section */

/* program-section */
/* /program-section */